<div class="containerNavbar">
  <div class="navbar">
    <a routerLink="accueil" routerLinkActive="isActive">
      <button mat-raised-button color="basic">Accueil</button>
    </a>
    <a routerLink="formulaire" routerLinkActive="isActive">
      <button mat-raised-button color="basic">formulaire</button>
    </a>
    <a routerLink="contact" routerLinkActive="isActive">
      <button mat-raised-button color="basic">Modeles</button>
    </a>
<!--    <div *ngIf="this.connectedUSer==false">-->
<!--      <form #form="ngForm" (submit)="submitUserCo(form)">-->
<!--        <div>-->
<!--          <label for="userName">UserName-->
<!--            <input type="text" name="userName" id="userName" ngModel>-->
<!--          </label>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="password">password-->
<!--            <input type="password" name="password" id="password" ngModel>-->
<!--          </label>-->
<!--        </div>-->
<!--        <button mat-raised-button color="warn" type="submit">Ok</button>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div *ngIf="this.connectedUSer==true">-->
<!--      <div>-->
<!--        <p>{{this.user?.nom}}</p>-->
<!--      </div>-->
<!--      <button (click)="deconnectUser()" mat-raised-button color="warn">Disconnect</button>-->
<!--    </div>-->
  </div>
</div>
